.content__input {
  padding: 0.714rem;
  width: 100%;
  border-radius: 5px 5px 2px;
  box-shadow:
    -2px 4px 0px 0px rgb(110, 110, 110),
    -4px 6px 0px 0px;
  border: 1.5px solid black;
}

.content__button {
  padding: 0.714rem;
  flex: 1;
  border-radius: 5px 5px 5px 2px;
  box-shadow:
    -2px 4px 0px 0px rgb(110, 110, 110),
    -4px 6px 0px 0px;
  border: 1.5px solid black;
}

.content__typograph {
  font-weight: bold;
}