.content-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  position: relative;
}

.content__pokedex {
  width: 380px;
}

.content__pokemon {
  position: absolute;
  left: 110px;
  top: 150px;
  width: 140px;
}

.content__form {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 30px;
  left: 40px;
  bottom: 80px;
}

.content__buttons {
  display: flex;
  gap: 5px;
}

.content__description {
  position: absolute;
  text-align: right;
  width: 200px;
  bottom: 235px;
  left: 85px;
}
